<riot-gridview-row>
    <div class="row">
        <div class="big-column">
            { opts.data.name }
        </div>
        <div class="small-column">
            <a href = "#" onclick="{ deleteSelf }">Удалить</a>
        </div>
    </div>

    <div class="clearfix">
    </div>

    <script>
        var tag = this;

        deleteSelf() {
            tag.parent.deleteItem(tag.opts.rowId);
        }

    </script>

    <style scoped>
        .row {
            font-size: 16px;
        }
        .row: hover
        {
            background-color: ;
        }
        .big-column {
            width: 70%;
            float: left;
        }
        .small-column {
            width: 25%;
            margin-left: 5%;
            float: left;
        }
    </style>
</riot-gridview-row>