

<raw>
    <script>
        this.tag = null
        if(opts.content)
        {
            let tags = riot.mount(this.root, opts.content.tag, opts.content)
            tag = tags[0]
            this.parent.part_tags.push(tag);
        }
    </script>
</raw>

<commentary>
    <textarea>
        {opts.text || "defaultText"}
    </textarea>
</commentary>

<header>
    <form>
        <input type="hidden" name = "type" value="header">
    </form>

</header>

<free-text>
    <editor>

    </editor>

    <form>
        <input type="hidden" name = "type" value="free-text">
        <input type="hidden" ref = "content" name = "content" value="{ opts.params.field_content }">
    </form>

    <script>
        var tag = this

        this.onChange = (we,contents) => {
            tag.refs.content.value = contents
        }

        this.on("mount", () => {
            var tags = riot.mount(this.root.querySelector("editor"),"riot-summernote", {
                defaultValue: tag.opts.params.field_content,
                afterLoad: function() {
                    this.$editor.on('summernote.change', tag.onChange)
                }
            })

        })

    </script>
</free-text>

<dimension-diagram>
    <form>
        <input type="hidden" name = "type" value="dimension-diagram">
        <input type="hidden" name = "metric" value="{ opts.params.metric }">
        <div class = "form-group row">
            <div if = { opts.params.deltaPercent >= 0 } class = "dimension-increase">
                Величина выросла на { opts.params.deltaAbsolute } ({ opts.params.deltaPercent }%)
            </div>
            <div if = { opts.params.deltaPercent < 0 } class = "dimension-decrease">
            Величина уменьшилась на { opts.params.deltaAbsolute } ({ opts.params.deltaPercent}%)
        </div>
        </div>
        <div class = "row">
            <div class = "form-group">
                <label>Текст над графиком</label>
                <input class = "form-control" name = "title" type="text" value="{ opts.params.title }">
            </div>
        </div>
        <div class = "row">
            <div class = "form-group row">
                <img src="{ opts.params.imageUrl }">
            </div>
        </div>
        <div class = "row">
            <div class = "form-group">
                <label>Комментарий под графиком</label>
                <textarea name = "commentary" class = "form-control">
                { opts.params.commentary }
                </textarea>
            </div>
        </div>
    </form>
    <style scoped>
        .form-group {
            margin-left: 20px;
            margin-right: 20px;
        }
        .dimension-increase {
            font-size: 14px;
            color: #4CAF50;
        }
        .dimension-decrease {
            font-size: 14px;
            color: #ff9800;
        }
    </style>
</dimension-diagram>


<sources-diagram>
    <form>
        <input type="hidden" name = "type" value="sources-diagram">
        <div class = "row">
            <div class = "form-group">
                <label>Текст над графиком</label>
                <input class = "form-control" name = "title" class = "form-control"type="text" value="{ opts.params.title }">
            </div>
        </div>
        <div class = "row">
            <div class = "form-group row">
                <img src="{ opts.params.imageUrl }">
            </div>
        </div>
        <div class = "row">
            <div class = "form-group">
                <label>Комментарий под графиком</label>
                <textarea class = "form-control" name = "commentary">
                { opts.params.commentary }
                </textarea>
            </div>
        </div>
    </form>
    <style scoped>
        .form-group {
            margin-left: 20px;
            margin-right: 20px;
        }
    </style>
</sources-diagram>


<request-table>
    <form>
        <input type="hidden" name = "type" value="request-table">
        <div class = "row">
            <div class = "form-group">
                <label>Максимальное количество столбцов</label>
                <input class = "form-control" name = "column_count" type="number" value="{ opts.params.column_count }">
            </div>
        </div>
        <div class = "row">
            <div class = "form-group">
                <label>Текст над таблицей</label>
                <input class = "form-control" name = "title" type="text" value="{ opts.params.title }">
            </div>
        </div>
        <div class = "row">
            <div class = "form-group">
                <label>Комментарий под таблицей</label>
                <textarea class = "form-control" name = "commentary">
                { opts.params.commentary }
                </textarea>
            </div>
        </div>
    </form>
    <style scoped>
        .form-group {
            margin-left: 20px;
            margin-right: 20px;
        }
    </style>
</request-table>