<riot-gridview>
    <div class = "row-container" each={ item, i in items }>
        <riot-gridview-row row-id={ i }  data={ item }></riot-gridview-row>
    </div>
    <div class = "row-container">
        <input name="rowText">
        <a href = "#" onclick="{ addItem }" class="btn btn-primary">Добавить</a>
    </div>


    <script>
        var tag = this;
        var items = [];


        syncItems() {
            aja()
                .method('get')
                .url(opts.url)
                .data(opts.requestInfo)
                .on('200', function(response){
                    tag.items = response.data;
                    tag.update();
                })
            .go();
        }

        deleteItem(id) {
            aja()
                .method('delete')
                .url(opts.url+"/"+tag.items[id].id)
                .data(opts.requestInfo)
                .on('200', function(response){
                    tag.items.splice(id,1);
                    tag.update();
                })
                .go();
        }

        addItem() {
            let newItem = {};
            newItem.name = tag.rowText.value;


            var obj3 = {};
            for (var attrname in newItem) { obj3[attrname] = newItem[attrname]; }
            for (var attrname in opts.requestInfo) { obj3[attrname] = opts.requestInfo[attrname]; }


            aja()
                .method('post')
                .url(opts.url)
                .data(obj3)
                .on('200', function(response){
                        newItem.id = response.data.id;
                        tag.items.push(newItem);
                        tag.rowText.value = "";
                        tag.update();
                    })
                .go();
        }

        tag.on("mount", () => {
            tag.items = [];
        })

    </script>
    <style scoped>
        .row-container {
            padding: 3px;
        }
    </style>
</riot-gridview>