﻿<riot-summernote>
    <div class = "container"></div>
    <script>
        var tag = this;

        tag.$editor = null;

        var script_id = "rg-summernote_scripts";


        alreadyLoadedScripts() {
            return document.getElementById(script_id);
        }

        loadScripts() {
            if (tag.alreadyLoadedScripts())
                return true;
            let head = document.getElementsByTagName('head')[0]
            let script = document.createElement('script')
            script.setAttribute('id', script_id)
            script.type = 'text/javascript'
            script.src = 'https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.min.js'
            script.onreadystatechange = script.onload = () => {
                tag.afterLoadScripts();
            }
            document.body.appendChild(script)
            let cssFile = document.createElement('link')
            cssFile.rel = 'stylesheet'
            cssFile.href = 'https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css'
            document.body.appendChild(cssFile)
        }


        afterLoadScripts() {
            tag.$editor = $(tag.root.getElementsByClassName("container")[0]);
            tag.$editor.summernote({
                height: tag.opts.height | 500,
            });
            if (typeof opts.afterLoad != "undefined") {
                opts.afterLoad.call(tag)
            }
        }

        getContent() {
            return tag.$editor.code();
        }

        tag.on('mount', () => {
            tag.root.getElementsByClassName("container")[0].innerHTML = tag.opts.defaultValue || ""
            if (tag.loadScripts())
                tag.afterLoadScripts();
        });

    </script>
    <style scoped>
        .container {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }

    </style>
</riot-summernote>