<riot-report>
    <div each={ part, index in parts } class = "report-part">
        <div class="header">
            <div class="header-title">
                { part.name }
            </div>
            <div class = "header-panel">
                <a if = { index > 0 } href="#" onclick={ parent.upElem }><i class="fa fa-2x fa-arrow-up"></i></a>
                <a if = { index < parent.parts.length - 1 } href="#" onclick={ parent.downElem }><i class="fa fa-2x fa-arrow-down"></i></a>
                <a href="#" onclick={ parent.toggle }><i class="fa fa-3x { part.closed ? "fa-caret-down" : "fa-caret-up" }"></i></a>
                <a href="#" onclick={ parent.config }><i class="fa fa-2x fa-cog"></i></a>
                <a href="#" onclick={ parent.remove }><i class="fa fa-2x fa-times"></i></a>
            </div>
            <div class = "clearfix"></div>
        </div>
        <div class="part">
            <raw content="{ part }" />
        </div>
    </div>

    <script>
        this.parts = []
        this.part_tags = []


        this.addQuery = []

        getParams(idReportPart, callback) {
            aja()
                .method('get')
                .url(this.opts.paramsUrl)
                .data({idSite: this.opts.idSite, idReportPart: idReportPart})
                .on('200', callback)
                .go()
        }

        addElem(params) {
            //    console.log(params);
            var opts = {}
            Object.keys(params).forEach((key) => {
                opts[key] = params[key]
            })
            var elem = {name: params.name, tag: params.tag, params: opts}
            this.add(elem)
        }

        this.addById = (idReportPart) => {
            this.addQuery.push(idReportPart)
            this.loadFromQuery()
        }

        this.getReportConfig = () => {
            var result = []
            this.part_tags.forEach((elem) => {
                result.push($(elem.root.querySelector("form")).serialize())
            })

            return JSON.stringify(result)
        }

        loadFromQuery()  {
            var query  = []
            var numAdd = 0
            this.addQuery.forEach((elem, i) => {
                numAdd++
                this.getParams(elem, (params) => {
                    var opts = {}
                    Object.keys(params).forEach((key) => {
                        opts[key] = params[key]
                    })
                    var obj = {name: params.name, tag: params.tag, params: opts}
                    query[i] = obj
                    if (--numAdd == 0) {
                        query.forEach((item) => {
                            this.add(item)
                        })
                        this.addQuery = []
                        return
                    }
                })
            })
        }


        function swapElementsInArray(arr, index1, index2)
        {
            let elem = arr[index1]
            arr[index1] = arr[index2]
            arr[index2] = elem
        }

        swapElements(index1, index2) {
            swapElementsInArray(this.parts, index1, index2)
            swapElementsInArray(this.part_tags,index1, index2)
            this.update()
        }

        upElem(e) {
            e.preventDefault()
            this.swapElements(e.item.index-1,e.item.index)
        }

        downElem(e) {
            e.preventDefault()
            this.swapElements(e.item.index+1,e.item.index)
        }


        add(elem) {
            this.parts.push({"closed": true, "name": elem.name,"tag": elem.tag, "params" : elem.params})
            this.update()
        }

        remove(e) {
            e.preventDefault()
            const index = e.item.index
            this.parts.splice(index, 1)
            this.part_tags.splice(index, 1)
        }

        getIndexOf(part) {
            return this.parts.indexOf(part)
        }

        toggle(e) {
            e.preventDefault()
            let part = e.item.part
            const index = this.getIndexOf(e.item.part)
            let parentElement = this.part_tags[index].root.parentNode
            if (part.closed)
                $(parentElement).slideUp()
            else
                $(parentElement).slideDown()
            part.closed = !part.closed
            this.update()
        }

        getTemplateContent() {
            return this.parts
                .map((elem) => {return elem.params.id})
                .join(",")
        }

        setTemplateContent(content) {
            this.parts = []
            this.part_tags = []
            let templateIds = content.split(",")
            this.addQuery = templateIds
            this.loadFromQuery()
        }

        updateTemplate() {
            let content = this.getTemplateContent()
            if (content != "")
                this.setTemplateContent(content)
        }

        saveTemplate(name, callback) {
            aja()
                .method('post')
                .url(this.opts.saveTemplateUrl)
                .data({_token: window.Laravel.csrfToken, name: name, content: this.getTemplateContent()})
                .on('200', (e) => {
                    callback()
                })
                .go()
        }

        loadTemplate(id, callback) {
            aja()
                .method('get')
                .url(this.opts.loadTemplateUrl)
                .data({_token: window.Laravel.csrfToken, id: id, content: this.getTemplateContent()})
                .on('200', (e) => {
                    this.setTemplateContent(e.content)
                    callback()
                })
                .go()
        }

        config(e) {
            e.preventDefault()
            let id = e.item.part.params.id
            aja()
                .method('get')
                .url(this.opts.configUrl+"/"+id.toString())
                .on('200', (e) => {
                    this.opts.configCallback(e)
                })
                .go()
        }

    </script>
    <style scoped>
        .header-title {
            float: left;
            font-size: 18px;
            margin-top: 8px;
        }
        .header-panel {
            float: right;
        }
        .report-part {
            padding: 10px;
            margin-bottom: 5px;
            -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
            box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
        }
    </style>
</riot-report>