
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.history {
  display: flex !important;
  justify-content: space-between;
}
.box-modal_close__white {
  color: white !important;
  top: 4px !important;
  right: 8px !important;
}
.history_dates {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}